h3{
    text-align: center;
}

.form-list{
    text-align: -webkit-center;
}

th{
    text-align: center;
}

td{
    text-align: center;
}

.fas {
    color: white;
}

.btn:hover .fas{
    color: black;
    
}