<div class="panel-heading">
  <br>
  <h2>Lista de Candidatos</h2>
  <hr>
  <br>
</div>
<div class="form-list">
  <div class="panel panel-primary" style="width: 900px;">
    <div class="panel-body">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Cidade</th>
            <th>Nota</th>
            <th>Situação</th>
            <th>Ações</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let candidato of candidatos">
            <td>{{candidato.nome}}</td>
            <td>{{candidato.cidade}}</td>
            <td>{{candidato.nota}}</td>
            <td>{{candidato.aprovado? "Aprovado" : "Reprovado"}}</td>
            <td>
              <button (click)="getCandidato(candidato.id)" class="btn btn-primary mr-2">Detalhe</button>
              <button (click)="atualizarCandidato(candidato.id)" class="btn btn-warning mr-2">Update</button>
              <button (click)="deletarCandidato(candidato.id)" class="btn btn-danger">Delete</button>
            </td>
          </tr>
        </tbody>

      </table>
    </div>
  </div>
</div>