<br>
<h2>Update de Candidato</h2>
<hr>
<div class="form-update" >
  <form #updateForm="ngForm" style="width: 400px;" (ngSubmit)="atualizarCandidato()">
    <div class="form-group">
      <label for="name">Nome</label>
      <input type="text" class="form-control" required name="nome" [(ngModel)]="candidato.nome" placeholder="Nome">
    </div>

    <div class="form-group">
      <label for="cidade">Cidade</label>
      <input type="text" class="form-control" required name="cidade" [(ngModel)]="candidato.cidade"
        placeholder="Cidade">
    </div>

    <div class="form-group">
      <label for="nota">Nota</label>
      <input type="number" class="form-control" required name="nota" [(ngModel)]="candidato.nota" placeholder="Nota">
    </div>
    <br>
    <div class="form-group text-center">
      <button class="btn btn-info" type="submit">Atualizar</button>
      <button class="btn btn-default" type="button" (click)="cancel()">Cancelar</button>
    </div>
  </form>
</div>