<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
  <div class="container">
    <a class="navbar-brand" href="#">
        
        </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item mr-2">
          <a routerLink="home" class="nav-link mr-2" routerLinkActive="active"><i class="fas fa-home"></i></a>
        </li>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle mr-2" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Área Candidato
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item"  href="cadastrar">Adicionar Candidato</a>
            <a class="dropdown-item"  href="candidatos">Lista de candidatos</a>
          </div>
        </div>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Área Concurso
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item"  href="cadastrarConcurso">Adicionar Concurso</a>
            <a class="dropdown-item"  href="concursos">Lista de Concursos</a>
            <a class="dropdown-item"  href="realizarConcurso">Realizar Concurso</a>
          </div>
        </div>
      </ul>
    </div>
  </div>
</nav>
